@import "tailwindcss";

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter.ttf") format("truetype");
}

* {
  box-sizing: border-box;
  letter-spacing: -0.02em;
}

body {
  font-size: 16px;
  height: 100vh;
  font-family: "Inter", "Segoe UI";
  background-color: #0F0F0F;
}